:root {
    font-size: 13pt;
}

html, body {
    margin: 0;
    padding: 0;
    color: #555;
}

figcaption {
    text-align: center;
    font-style: italic;
}

a {
    color: #555;
    font-style: italic;
}

.katex {
    font-size: 1em !important;
}

deckgo-highlight-code {
    font-size: 11pt;
    box-shadow: #ccc 0px 2px 8px;

    code {
        font-size: 0.8em;
    }
}
